<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/resources/|"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.js" ></script>
    <script>
        function findPasswordByNote() {
            window.location.href="[[${#request.getContextPath()}]]/sso/toForgetPasswordByNoteCode";
        }
        function findPassword() {
            window.location.href="[[${#request.getContextPath()}]]/sso/toForgetPasswordByEmail";
        }
    </script>
</head>
<body>
<h1>请选择验证方式</h1>

<button type="button" onclick="findPassword();">邮件验证</button>
<button type="button" onclick="findPasswordByNote();">短信验证</button>
</body>
</html>